:root {
    --colorBg: rgb(200,200,250);
    --bodyBg: rgb(200,250,200);
}


.toCenter {
    width: 300px;
    border: 5px solid yellowgreen;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    display: block;
    border-radius:50%;
}

.redColor {
    color:gray;
}

body {
    background-color: var(--bodyBg, white);
    font-family:Roboto !important;
}

h1 {
    color:cyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    margin:10px;
}

p {
    font-family: Roboto;
    padding: 20px;
    text-align: justify;
}

.silver-bg {
    background-color: var(--colorBg, white);
    font-family: Roboto;
    padding:10px;
    margin-bottom:20px;
}

.purpleRain {
    background-color: var(--colorBg, rgb(250,200,200));
    font-family: Roboto;
    padding:10px;
}

#aceOfHearts {
    background-color: azure;
    padding: 20px;
    margin-top:20px;
}

[type='radio']{
    margin: 10px;
}

.mini-text {
    font-size: 0.8em;
}

@media (max-width:1200px) {
    :root {
        --bodyBg: rgb(200,100,120);
    }

    .redColor {
        color:yellow;
    }
}