.toCenter {
    width: 300px;
    border: 5px solid yellowgreen;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    display: block;
    border-radius:50%;
}

.redColor {
    color:gray;
}

h1 {
    color:cyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

p {
    font-family: Roboto;
    padding: 20px;
    text-align: justify;
}

.silver-bg {
    background-color:silver;
    font-family: Roboto;
}

#aceOfHearts {
    background-color: azure;
    padding: 20px;
}

[type='radio']{
    margin: 10px;
}

.mini-text {
    font-size: 0.8em;
}